asttokens
bidict
biosppy
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
h5py
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
opencv-python
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
pyzmq
requests
scikit-learn
scipy
seaborn
shortuuid
six
soundfile
stack-data
threadpoolctl
tornado
tqdm
traitlets
tzdata
urllib3
wcwidth
wfdb
plotly
autogluon
